<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TOS Stock</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark text-uppercase" id="mainNav">
        <div class="container">
            <h1><a class="navbar-brand" href="#page-top">토스 해외증권</a></h1>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
            <!-- Masthead-->
            <header class="masthead bg-primary text-white text-center">
                <div class="container d-flex align-items-center flex-column">
                    <!-- Masthead Heading-->
                    <h1 class="masthead-heading text-uppercase mb-0">TSLA      Tesla</h1> <!-- symbol, name 입력-->
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Masthead Subheading-->
                    <p class="masthead-subheading font-weight-light mb-0 text-left">SECTOR  'Consumer Discretionary'</p>
                    <p class="masthead-subheading font-weight-light mb-0 text-left">INDUSTRY  'Automobile Manufacturers'</p>
                </div>
            </header>
    <chart class>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <canvas id="myChartone" width="=600" height='150'></canvas>
                    </div>
                    <!-- <div class="col-sm-7">
                        <canvas id="button" width="=50" height='10'></canvas>
                    </div> -->
                    <div class="col-lg-5">
                        <canvas id="myCharttwo" width="=600" height='215'></canvas>
                    <!-- </div>
                    <div class="col-lg-4">
                        <canvas id="myChartthree" width="=600" height='400'></canvas>
                    </div> -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary btn-sm">Week</button>
                    <button type="button" class="btn btn-outline-primary">Month</button>
                    <button type="button" class="btn btn-outline-primary">3 Month</button>
                    <button type="button" class="btn btn-outline-primary">Year</button>
                </div>
            </div>
            </div>
            <!--select button 생성 -->
            <!-- <select name="chartType" id="myChartone" onchange="updateChartType()">
                <div class='row'>
                    <div class="col-md-3">
                        <option value="bar">Bar</option>
                        <option value="line">Line</option>
                        <option value="pie">Pie</option>
                        <option value="radar">Radar</option>
                        <option value="polarArea">Polar Area</option>
                    </div>
                </div>
            </select>  -->
            <div class="chart-container" style="position: relative;">
                <canvas id="myChartone"></canvas>
            </div>
        <script>
            var myChartone = document.getElementById('myChartone').getContext('2d');
            var myCharttwo = document.getElementById('myCharttwo').getContext('2d');
            // var myChartthree = document.getElementById('myChartthree').getContext('2d');

            var barChart = new Chart(myChartone, {
                type : 'line',
                data : {
                     datasets : [{
                        label : 'Close',
                        data : [{x:"2021.6.1", y:623.9},
                        {x:"2021.6.2", y:605.12},
                        {x:"2021.6.3", y:572.84},
                        {x:"2021.6.4", y:599.05},
                        {x:"2021.6.7", y:605.13},
                        {x:"2021.6.8", y:603.59},
                        {x:"2021.6.9", y:598.78},
                        {x:"2021.6.10", y:610.12},
                        {x:"2021.6.11", y:609.89},
                        {x:"2021.6.14", y:617.69},
                        {x:"2021.6.15", y:599.36},
                        {x:"2021.6.16", y:604.87},
                        {x:"2021.6.17", y:616.6},
                        {x:"2021.6.18", y:623.31},
                        {x:"2021.6.21", y:620.83},
                        {x:"2021.6.22", y:623.71},
                        {x:"2021.6.23", y:656.57},
                        {x:"2021.6.24", y:679.82},
                        {x:"2021.6.25", y:671.87},
                        {x:"2021.6.28", y:691}]
                     }],
                    }
                });
            var barChartwo = new Chart(myCharttwo, {
                type : 'bar',
                data : {
                    datasets : [{
                        label : 'Market capitalization',
                        data : [
                            {x:"TSLA", y:18428511470},
                            {x:"GM", y:2408113644},
                            {x:"F", y:918078226}],
                            
                    }],
                }
                // options: {
                //     indexAxis: 'y',
                //     elements: {
                //     bar: {
                //         borderWidth: 2,
                //     }
                //     },
                //     responsive: true,
                //     plugins: {
                //     legend: {
                //         position: 'right',
                //     },
                //     title: {
                //         display: true,
                //         text: 'Market capitalization compared to the previous day'
                //     }
                //     }
                // },
            });
        //     var barCharthree = new Chart(myChartthree, {
        //         type : 'bar',
        //         data : {
        //             labels : ['a', 'b', 'c', 'd',' e'],
        //             datasets : [{
        //                 label : 'ChartJS',
        //                 data : [1000,300,200,1000,10000]
        //             }]
        //         },
        //         options: {
        //             responsive:true,
        //             scales: {
        //                 yAxes : [{
        //                     ticks: {
        //                         beginAtzero : true
        //                     }
        //                 }]
        //             }
        //         }
        // });
        </script>
    </chart>
    <news class>
        <section class="page-section portfolio" id="portfolio">
            <div class="container px-4">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">NEWS</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-12">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <!-- <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." /> -->
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <colgroup>
                        <col align="center" width="300px"/>
                        <col width="1200px"/>
                        <col width="900px"/>
                        <col width="300px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Sub title</th>
                        <th scope="col">Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{data1[::-1][0].title}}</td>
                        <td>{{data1[::-1][0].subtitle}}</td>
                        <!-- <td href="https://www.investing.com/">{{data1[::-1][0].link}}</td> -->
                        <td align="center" onClick="location.href='{{data1[::-1][0].link}}'" style="cursor:pointer;">LINK</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{data1[::-1][1].title}}</td>
                        <td>{{data1[::-1][1].subtitle}}</td>
                        <!-- <td href="https://www.investing.com/">{{data1[::-1][1].link}}</td> -->
                        <td align="center" onClick="location.href='{{data1[::-1][1].link}}'" style="cursor:pointer;">LINK</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{data1[::-1][2].title}}</td>
                        <td>{{data1[::-1][2].subtitle}}</td>
                        <!-- <td href="https://www.investing.com/">{{data1[::-1][2].link}}</td> -->
                        <td align="center" onClick="location.href='{{data1[::-1][2].link}}'" style="cursor:pointer;">LINK</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>{{data1[::-1][3].title}}</td>
                        <td>{{data1[::-1][3].subtitle}}</td>
                        <!-- <td href={{data1[::-1][4].link}}>{{data1[::-1][3].link}}</td> -->
                        <td align="center" onClick="location.href='{{data1[::-1][3].link}}'" style="cursor:pointer;">LINK</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>{{data1[::-1][4].title}}</td>
                        <td>{{data1[::-1][4].subtitle}}</td>
                        <td align="center" onClick="location.href='{{data1[::-1][4].link}}'" style="cursor:pointer;">LINK</td> 
                    </tr>
                    </tbody>
                </table>
            </color>
        </section>
    </news>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ms-auto text-center"><p class="lead">
                당신이 잠든 사이 일어난 정보를 전달 드립니다.</p></div>
        <div class="row">
            <div class="col-lg-12 ms-auto text-center"><p class="lead">
                S&P500에 대한 정보입니다.</p></div>
        <div class="row">
            <div class="col-lg-12 ms-auto text-center"><p class="lead">
                        Beta version </p></div>
            <!-- <div class="col-lg-4 me-auto text-center"><p class="lead">S&P500에 대한 정보입니다.</p></div> -->
        </div>
        <!-- About Section Button-->
        <!-- <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://www.investing.com/">
                <i class="fas fa-download me-1"></i>
                Free Download!

            </a>
        </div> -->
    </div>
</section> 
<div class="copyright py-4 bg-dark text-center text-white-50">
    <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
</div>
</body>
</html>
